<!--{% load static %}-->
<!--<footer class="bg-dark text-center text-lg-start">-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->
<!--  <div class="container p-4">-->
<!--    &lt;!&ndash;Grid row&ndash;&gt;-->
<!--    <div class="row">-->
<!--      &lt;!&ndash;Grid column&ndash;&gt;-->
<!--      <div class="col-4">-->
<!--            <img src="{% static 'invincix.png' %}" class="img-fluid">-->
<!--        </div>-->
<!--      <div class="col-4">-->
<!--            <img src="{% static 'cmd.svg' %}" class="img-fluid w-50">-->
<!--        </div>-->
<!--      <div class="col-4">-->
<!--            <img src="{% static 'pdochealth.png' %}" class="img-fluid w-25">-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;Grid row&ndash;&gt;-->
<!--  </div>-->
<!--</footer>-->