<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Create Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Hi, Your name ?</label>
            <input class="form-control autocheck" id="name" placeholder="Your Name" required>
            <p class="errortext">Enter valid name.</p>
          </div>
          <div class="form-group">
            <label for="type">I Want/Have</label>
            <select class="custom-select autocheck" id="type" required>
                <option selected disabled value="0">Choose...</option>
                <option value="1">Want</option>
                <option value="2">Have</option>
            </select>
            <p class="errortext">Choose request type.</p>
          </div>
          <div class="form-group">
            <label for="content">What ?</label>
             <div class="control-group">
                <div class="controls span2">
                  <label class="checkbox">
                      <input type="checkbox" class="type" value="plasma"> Plasma
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" class="type" value="oxygen"> Oxygen
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" class="type" value="funds"> Funds
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" class="type" value="others"> Others
                  </label>
              </div>
               <p id="type-errortext" class="d-none"  style="color:red;">Please check atleast one item.</p>
            </div>
            <input type="text" class="form-control autocheck" id="content" placeholder="Add keywords" required>
            <small>Mention all possible details like Blood group,amount etc  </small>
            <p class="errortext">Enter valid details.</p>
          </div>
          <div class="form-group">
            <label for="location">Where ?</label>
            <input type="text" class="form-control autocheck" id="location" placeholder="Need / Supply location" required>
            <small>Where is donor or seeker from? (Area and City)</small>
            <p class="errortext">Enter valid location.</p>
          </div>
          <div class="form-group">
            <label for="phone">How to reach you?</label>
            <input type="text" class="form-control autocheck" id="phone" placeholder="9876543210" required>
            <p class="errortext">Enter valid number.</p>
          </div>
          <div class="form-group">
            <small id="emailHelp" class="form-text text-muted">Your information is safe with us. Your contact will not be shared with anyone. Contact information people who take interest in your alert will be shared with you over sms.</small>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" id="create-alert" class="btn btn-warning">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var animSpeed=500;
  $("#create-alert").click(function(){
      let name = $("#name").val();
      let type = $("#type").val();
      let content = $("#content").val();
      let location_ = $("#location").val();
      let phone = $("#phone").val();
      var types = $(".type").map(function(){if($(this).is(':checked')){return $(this).val()};}).get();
      console.log(types,"types");
      let validFlag = 1;
      if(!!!name){
        $('#name').addClass('errorHighlight');
        $('#name ~ p.errortext').show(animSpeed);
        validFlag = 0;
      }
      if(types.length==0){
        validFlag = 0;
        $("#type-errortext").removeClass("d-none");
      }
      else {
          $("#type-errortext").addClass("d-none");
      }
      if(!!!type){
        $('#type').addClass('errorHighlight');
        $('#type ~ p.errortext').show(animSpeed);
        validFlag = 0;
      }
      if(!!!content){
        $('#content').addClass('errorHighlight');
        $('#content ~ p.errortext').show(animSpeed);
        validFlag = 0;
      }
      if(!!!location_){
        $('#location').addClass('errorHighlight');
        $('#location ~ p.errortext').show(animSpeed);
        validFlag = 0;
      }
      if(!!!phone){
        $('#phone').addClass('errorHighlight');
        $('#phone ~ p.errortext').show(animSpeed);
        validFlag = 0;
      }
      if(!!validFlag) {
      $.ajax({
            url: "/create-alert",
            type: "POST",
            data: {
                "name": name,
                "type": type,
                "content": content,
                "location": location_,
                "phone": phone,
                "types":JSON.stringify(types)
            },
            dataType: "json",
            success: function (res) {
                alert('Thanks a lot. Your alert will soon be online !! ');
                $("#modalForm").modal('hide');
            }
        });
        }

      
  })
  $('.autocheck').on('keyup change',(e)=>{
    ele=$(e.target)
   
    if(ele.hasClass('errorHighlight')){
      if(!!ele.val()){
        ele.removeClass('errorHighlight');
        ele.siblings('p.errortext').hide(animSpeed);
      }
    }
  })
</script>